@import "variables";


@mixin btn($w){
  width: $w;
  height: 53px;
  background-color: $green;
  font-weight: $font_normal;
  font-size: $fs18;
  line-height: 25px;
  color: $white;
  border-radius: 42px;
  border: none;
  cursor: pointer;
}